@import "tailwindcss";
@plugin "daisyui";

/* Shared brand gradient */
.brand-gradient {
  background: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #9333ea
  );
}

/* Shared brand gradient text */
.brand-gradient-text {
  background: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #9333ea
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}